body{
    background-color: rgb(193, 207, 219);
    
}
.cal-body{
    height: 520px;
    width: 320px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
}
.cal-display{
    height: 120px;
    text-align: right;
    padding-right: 25px;
    padding-top: 10px;
    color: black;
}
.cal-input{
    height: 400px;
    text-align: center;
}
button{
    height: 50px;
    width: 50px;
    margin: 15px;
    float: left;
    border-radius: 50px;
    border-width: 0;
    font-size: 15px;
    font-weight: bold;

}
.number, .empty{
    background-color: white;
}
#division{
    background-color: #f08080;
    font-size: 20px;
}
#multipication{
   
   background-color: #ffa500; 
   font-size: 20px;
}
#substraction{
    
    background-color: #7d93e0;
    font-size: 20px;
}
#summation{
    background-color: #9477af;
    font-size: 20px;
}
#equal{
    background-color: #20b2aa;
    font-size: 20px; 
}

button{
    cursor:pointer;
}
